@model WebSiteVozesUnidas.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Login";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h1>Login</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<form asp-action="Login">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Senha"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a class="nav-link text-dark m-0 p-0" asp-area="" asp-controller="Usuarios" asp-action="Register">
        Não tem conta? Crie uma Agora!
    </a>
</form>