@model WebSiteVozesUnidas.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Registrar Novo Usuário";
}

<h1>Registrar Novo Usuário</h1>

<form asp-action="Register" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <p>@ViewData["Mensagem"]</p>
    </div>
    <div class="form-group">
        <label asp-for="Senha"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImagemPerfil" class="control-label"></label>
        <input asp-for="ImagemPerfil" type="file" class="form-control" name="imgUp" />
        <span asp-validation-for="ImagemPerfil" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" class="form-control" id="tipoUsuario">
            <option value="">Selecione o tipo</option>
            <option value="Candidato">Candidato</option>
            <option value="Empresa">Empresa</option>
        </select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div id="empresaFields" style="display:none;">
        <div class="form-group">
            <label asp-for="Cnpj"></label>
            <input asp-for="Cnpj" class="form-control" />
            <span asp-validation-for="Cnpj" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefone"></label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descricao"></label>
            <textarea asp-for="Descricao" class="form-control"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
    </div>
    <div id="candidatoFields" style="display:none;">
        <div class="form-group">
            <label asp-for="Cpf"></label>
            <input asp-for="Cpf" class="form-control" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
    <a class="nav-link text-dark m-0 p-0" asp-area="" asp-controller="Usuarios" asp-action="Logout">
        Não tem conta? Crie uma Agora!
    </a>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tipoUsuario').change(function () {
                var selectedType = $(this).val();
                if (selectedType === 'Empresa') {
                    $('#empresaFields').show();
                    $('#candidatoFields').hide();
                } else if (selectedType === 'Candidato') {
                    $('#candidatoFields').show();
                    $('#empresaFields').hide();
                } else {
                    $('#empresaFields, #candidatoFields').hide();
                }
            }).change(); // Trigger change event on page load
        });
    </script>
}
