@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel-container">
    <div class="carousel">
        <img src="~/img/01.jpg" alt="Imagem 1" class="carousel-image">
        <img src="~/img/03.png" alt="Imagem 2" class="carousel-image">
        <img src="~/img/02.jpeg" alt="Imagem 3" class="carousel-image">
    </div>
</div>

<div class="tudo">
<div class="borda">
    <h4>OBJETIVO DO PROJETO</h4>
    <p>
        O objetivo principal do nosso projeto é a criação de um site dedicado a promover a igualdade de gênero. Reconhecemos que,
        apesar dos avanços significativos ao longo das últimas décadas, ainda existem desigualdades substanciais entre homens e
        mulheres em diversas áreas, como mercado de trabalho, educação, política e direitos sociais. Nosso site se propõe a ser
        uma plataforma informativa, educativa e de apoio, onde recursos, dados e histórias de sucesso são compartilhados para
        conscientizar e engajar a sociedade na luta pela equidade de gênero.
    </p>
    <p>
        Acreditamos que a igualdade de gênero não é apenas um direito humano fundamental, mas também uma base essencial para um mundo
        pacífico, próspero e sustentável. Para atingir esse objetivo, nosso site oferece uma variedade de conteúdos, incluindo artigos,
        pesquisas, entrevistas e histórias inspiradoras de pessoas que têm feito a diferença. Além disso, fornecemos ferramentas práticas
        e guias para ajudar indivíduos e organizações a implementarem práticas de igualdade de gênero em suas rotinas diárias.
    </p>
    <img src="~/img/5.gif" class="imagem" />
    </div>
</div>

<div class="tudo">
    <div class="bordafinal">
        <p>
            Nosso compromisso é criar um ambiente inclusivo e acolhedor onde todos se sintam encorajados a participar e contribuir para
            a construção de uma sociedade mais justa e igualitária. Através da educação, conscientização e ação coletiva, acreditamos 
            que é possível desafiar e transformar as normas sociais que perpetuam a desigualdade de gênero, promovendo um futuro onde 
            todos tenham as mesmas oportunidades, independentemente de seu gênero.
        </p>
    </div>
</div>
